body {
    background: gray;
}
body {
    border: 1px dotted red;
}
.header{
    display: flex;
    
}
.header > div:first-child{
    width: 100%
}
img{
    width: 100%
}
.post{
    margin-top: 5px;
    background-color: white
}
.nav_bar{
    background-color: white;
}
.centered{
    width: 500px;
    margin: auto;
}